<aside class="min-h-full w-64 bg-base-200">
  <div class="p-4 text-lg font-bold">Hamilton</div>

  <ul class="menu menu-sm w-full">
    {% for item in sidebar_menu %}
      {% if item.children %}
        <li>
          <details name="sidebar-accordion" {% if item.has_active_child %}open{% endif %}>
            <summary class="{{ 'font-semibold text-primary' if item.has_active_child else '' }}">
              {% if item.icon %}<span class="sidebar-icon shrink-0 [&>svg]:h-4 [&>svg]:w-4">{{ item.icon | safe }}</span>{% endif %}
              {{ item.label }}
            </summary>
            <ul>
              {% for child in item.children %}
                <li>
                  <a href="{{ child.url }}" class="{{ 'active' if child.active else '' }}">
                    {% if child.icon %}<span class="sidebar-icon shrink-0 [&>svg]:h-4 [&>svg]:w-4">{{ child.icon | safe }}</span>{% endif %}
                    {{ child.label }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </details>
        </li>
      {% else %}
        <li>
          <a href="{{ item.url }}" class="{{ 'active' if item.active else '' }}">
            {% if item.icon %}<span class="sidebar-icon shrink-0 [&>svg]:h-4 [&>svg]:w-4">{{ item.icon | safe }}</span>{% endif %}
            {{ item.label }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</aside>
